*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* box-sizing: border box vai definir um tamanho fixo pra caixa, não ficar somando as margens e o padding!*/
}

.header{
    background-color: gray;
    text-align: center;
    padding: 50px 0px;
    font-size: 40px;
    font-family: sans-serif;
}

.container{
    display: flex; /* vai colocar as duas tags nav e article lado a lado*/

}

.navbar{
    width: 30%;
    background-color: #a3a3a3;
    padding: 30px;
}

.content{
    width: 70%;
    background-color: rgb(214, 214, 214);
    padding: 30px;
}

.footer{
    background-color: grey;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
}