.foto-principal{
    box-shadow: 0px 0px 10px #313131;
    width: 220px;
    border: 2px solid white;/* shorhand*/
    border-radius: 50%;
    /* border-radius: pode ser colocado quatro valores, que vão definir a imagem em sentido horário;
    /*border-width: 5px;
    border-style: solid;
    border-color: #141414;*/
    margin: 25px 25px 0px 25px; 
}

.container{
    width: 1200px;
    margin: 0 auto;
}
    
.profile{
    text-align: center;
    margin-bottom: 40px;
}

body{
    background: #dfdfdf;
    color: #313131;
    font-family: 'Raleway' , sans-serif;
    font-size: 19px;
    margin: 0px;
}

h1{
    margin-bottom: 0px;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 35px;
    margin-top: 10px;
}

h2{
    margin-top: 0px;
    font-style: italic;
    color: rgb(73 73 73);
    font-weight: 100;
    letter-spacing: -1px;
    font-size: 25px;
}

h4{
    margin-bottom: 0px;
}

h5{
    margin-top: 6px;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}

p{
    margin-top: 5px;
}

.size-icons{
    width: 30px;
}

.link-icons{
    text-decoration: none;
}

.github{
    margin: 0px 5px;
}

.jobs-list{
    list-style: none;
    padding-left: 30px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
}

/* podes colocar 4 valores para margin, equivalendo a top, right, botton e left. colocando 2 valores é: top e botton, right e left.