body {
    background-image: url(backgroundphoto.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-position: 100% 10% */
    background-size: cover;
    background-attachment: fixed;
    
}

p{
    color: #222222
}

.foto{
    width: 300px
}