*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(47,10,115);
    background: -moz-linear-gradient(180deg, rgba(47,10,115,1) 0%, rgba(50,11,121,1) 100%);
    /* podes colocar height 100%: html, body{ height 100%} */
    color: white;
    font-family: 'Raleway', sans-serif;
}

.avatar{
    width: 90px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 18px white;
}

h1{
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 25px;
    margin-bottom: 2px;
}

h2{
    font-size: 16px;
}

.profile{
    text-align: center;
    margin-top: 20px;
}

.icons img{
    width: 33px;
}

.icons{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 20px 0px;
}

.links-list{
    list-style: none;  

}

.links-list li{
    margin: 10px 20px;    
}

.links-list li a{
    background-color: white;
    padding: 15px 20px;
    display: block;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(84, 5, 231);
    font-weight: bold;

}

.links-list li a span{
    color: gray;
    display: block;
    margin-top: 10px;
}