.foto-principal{
    box-shadow: 0px 0px 10px #313131;
    width: 260px;
    border: 2px solid white;/* shorhand*/
    border-radius: 50%;
    /* border-radius: pode ser colocado quatro valores, que vão definir a imagem em sentido horário;
    /*border-width: 5px;
    border-style: solid;
    border-color: #141414;*/
    margin: 25px;
    
    
}

.fundo{
    background: #dfdfdf
    
}

body{
    background: #dfdfdf;
    color: #313131;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-bottom: 0px;
    letter-spacing: -2px;
}

h2{
    margin-top: 0px;
    font-style: italic;
    color: rgb(73 73 73);
    font-weight: 100;
    letter-spacing: -1px;
}