.container{
  background: silver;
  display: flex; /* por padrão, o display flex coloca todos em row, em linha, é o padrão. Com o display flex, eles obedecem o tamanho da caixa, não importa o tamanho total deles, sem flex, o padrão é column */
   /* o flex dá flexibilidade para tua página, mesmo que o column tenha o mesmo efeito de block, um embaixo do outro */
  flex-direction:row;
  flex-wrap: wrap;
   /* um dos auxiliares em design responsivo, ele faz com os itens se encaixem ao tamanho de tela disponível (flex wrap), no caso daqui, quebrando os quadradinhos pra baixo ou voltando eles pra cima caso caixam */
  /* flex-flow: row wrap;  short hand pra flex direction e flex wrap */
}

.caixa{
  width: 300px;
  height: 300px;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.green{
  background-color: green;
}